* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

main {
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, right top, from(#ffffff), to(#858383));
  background: linear-gradient(to right top, #ffffff, #858383);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.glass {
  background: white;
  height: 93%;
  width: 80%;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(245, 32, 60, 0.3)), to(rgba(29, 23, 23, 0.5)));
  background: linear-gradient(to right bottom, rgba(245, 32, 60, 0.3), rgba(29, 23, 23, 0.5));
  z-index: 3;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sq1,
.sq2 {
  position: absolute;
  width: 65%;
  height: 90%;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.8)), to(#918888));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), #918888);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  border-radius: 9px;
  color: #353a3b;
}

.sq1 {
  top: 33%;
  left: 18%;
}

.sq2 {
  top: 5%;
  left: 32%;
}

.images {
  width: 30px;
  height: 30px;
}

.dashboard {
  width: 28%;
  min-height: 80vh;
  border-radius: inherit;
  background: -webkit-gradient(linear, left top, right bottom, from(#383131), to(black));
  background: linear-gradient(to right bottom, #383131, black);
  text-align: center;
  padding: 30px;
  font-family: sans-serif;
  font-size: 0.9rem;
  color: #0491c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 700;
}

.myimage {
  width: 80px;
  height: 80px;
  border-radius: 0.8rem;
  margin-bottom: 10px;
}

.link {
  margin: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  margin-left: 15px;
}

iframe {
  border-radius: 0.7rem;
  position: absolute;
}

.f1 {
  top: 18%;
  right: 9%;
}

.f2 {
  top: 34%;
  right: 9%;
}

.music {
  float: right;
  font-weight: 700;
  margin: 40px;
}

.big {
  color: black;
  font-size: 95px;
  z-index: 5;
  position: relative;
  top: 27%;
  left: 13%;
}

@media (max-width: 900px) {
  .big {
    font-size: 50px;
  }
}

@media (max-width: 800px) {
  main {
    background: -webkit-gradient(linear, left bottom, right top, from(#080808), to(#858383));
    background: linear-gradient(to right top, #080808, #858383);
  }
  .glass {
    background: white;
    height: 80%;
    width: 80%;
    border-radius: 1rem;
    background: -webkit-gradient(linear, left top, right bottom, from(rgba(245, 32, 60, 0.3)), to(rgba(29, 23, 23, 0.5)));
    background: linear-gradient(to right bottom, rgba(245, 32, 60, 0.3), rgba(29, 23, 23, 0.5));
    z-index: 3;
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
  }
  .sq1,
  .sq2 {
    position: relative;
    width: 0%;
    height: 0%;
    background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.8)), to(#918888));
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), #918888);
    -webkit-backdrop-filter: blur(2rem);
            backdrop-filter: blur(2rem);
    border-radius: 9px;
    color: #353a3b;
  }
  .sq1 {
    top: 33%;
    left: 18%;
  }
  .sq2 {
    top: 5%;
    left: 32%;
  }
  .images {
    width: 30px;
    height: 30px;
  }
  .dashboard {
    width: 80%;
    height: 80%;
    border-radius: inherit;
    background: -webkit-gradient(linear, left top, right bottom, from(#383131), to(black));
    background: linear-gradient(to right bottom, #383131, black);
    text-align: center;
    padding: 30px;
    font-family: sans-serif;
    font-size: 0.8rem;
    color: #0491c0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
  .user {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 700;
  }
  .myimage {
    margin-top: 20px;
    width: 80px;
    height: 80px;
    border-radius: 0.8rem;
    margin-bottom: 10px;
  }
  .link {
    margin: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  h2 {
    margin-left: 15px;
  }
  iframe {
    width: 1%;
    height: 1%;
    border-radius: 0.7rem;
    position: absolute;
  }
  .f1 {
    top: 18%;
    right: 9%;
  }
  .f2 {
    top: 34%;
    right: 9%;
  }
  .music {
    font-size: 0;
    width: 1%;
    height: 1%;
    float: right;
    font-weight: 700;
    margin: 40px;
  }
  .big {
    width: 1%;
    height: 1%;
    color: black;
    font-size: 0;
    z-index: 5;
    position: relative;
    top: 27%;
    left: 13%;
  }
}
/*# sourceMappingURL=style.css.map */