* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
main {
  height: 100vh;
  background: linear-gradient(to right top, #000000, #000000);
  display: flex;
  align-items: center;
  justify-content: center;
}
.glass {
  background: white;
  min-height: 80vh;
  width: 85%;
  border-radius: 1rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.5)
  );
  z-index: 3;
  backdrop-filter: blur(1rem);
  display: flex;
}
.sq1,
.sq2 {
  position: absolute;
  width: 65%;
  height: 90%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(145, 136, 136, 0.7)
  );
  backdrop-filter: blur(2rem);
  // background: black;
  border-radius: 9px;
  color: #353a3b;
  // z-index: 4;
}
.sq1 {
  top: 33%;
  left: 18%;
}
.sq2 {
  top: 5%;
  left: 32%;
}
.images {
  width: 30px;
  height: 30px;
}
.dashboard {
  width: 28%;
  min-height: 80vh;
  border-radius: inherit;
  background: linear-gradient(
    to right bottom,
    rgb(255, 255, 255),
    rgb(175, 167, 167)
  );
  text-align: center;
  padding: 30px;
  font-family: sans-serif;
  font-size: 0.9rem;
  color: #0491c0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user {
  font-size: 10px;
  color: rgba(00, 00, 00, 0.7);
}
.myimage {
  width: 80px;
  height: 80px;
  border-radius: 0.8rem;
  margin-bottom: 10px;
}
.link {
  margin: 40px;
  display: flex;
  align-items: center;
}
h2 {
  margin-left: 15px;
}
iframe {
  border-radius: 0.7rem;
  position: absolute;
}
.f1 {
  top: 18%;
  right: 9%;
}
.f2 {
  top: 34%;
  right: 9%;
}

.music {
  float: right;
  font-weight: 700;
  margin: 40px;
}
.big {
  font-size: 7rem;
  z-index: 5;
  position: absolute;
  top: 31%;
  left: 38%;
}
